- var seo = {};
- seo.author = 'Greg Walden';
- seo.title = 'Circle Clock';
- seo.description = 'Minimal timekeeping';
- seo.url = 'https://www.circleclock.com';
- seo.type = 'website';
- seo.site = '@givemesnacks';
- seo.creator = seo.site;

//- HTML basics
title=seo.title
meta(name='author', content=seo.author)
meta(name='description', content=seo.description)
link(rel='canonical' href=seo.url)

//- Common Items
- each name in ['title', 'description']
  meta(property='og:' + name, content=seo[name])
  meta(name='twitter:' + name, content=seo[name])

//- Open Graph Specifics
- each name in ['url', 'type']
  meta(property='og:' + name, content=seo[name])

//- Twitter Card Specifics
- each name in ['site', 'creator']
  meta(name='twitter:' + name, content=seo[name])
